# WiFi
wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
ap_password: "esphomeap"

# ESPHome API & OTA
api_encryption_key: "MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA="
ota_password: "esphome_ota"

# HiveMQ MQTT
mqtt_broker: "YOUR_HIVEMQ_BROKER"
mqtt_port: 8883
mqtt_username: "YOUR_MQTT_USERNAME"
mqtt_password: "YOUR_MQTT_PASSWORD"
